.bc {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  padding: 10px;
}
.container {
  width: 95%;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 26px -13px rgba(22, 92, 255, 0.541);
}
.input {
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  border: solid 1px hsl(0, 0%, 80%);
}
.input:focus {
  outline: solid 1px #8800ff;
}
.darkBc {
  background-color: #242526;
}
.darkBc .css-1s2u09g-control {
  background-color: #373737ff !important;
}
.cardCont {
  height: 100%;
}
.reviewText {
  padding: 13px;
  background-color: #efefef;
  width: 100%;
  display: block;
  border-radius: 6px;
}
.reviewIcon {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8800ff;
  background-color: #efefef;
  border-radius: 50%;
}
.custom_file_input::-webkit-file-upload-button {
  visibility: hidden;
}
.label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}
.upload {
  background-color: #8800ff4e;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.upload1 {
  background-color: #8800ff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom_file_input {
  display: none;
}
.img_con {
  width: 100%;
}
.img_con img {
  width: 100%;
}
.custom_file_input::before {
  display: none;
  content: "+";
  display: inline-block;
  background: #8800ff;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  /* text-shadow: 1px 1px #fff; */
  font-weight: 700;
  font-size: 10pt;
}
.gridCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  transition: all 0.6s ease-in-out;
}
.lgDate {
  display: none;
}
.cont_intro {
  font-weight: 500;
  font-size: 22px;
  color: #2496ff;
}
.cont_main {
  padding: 20px;
  text-align: center;
  height: 100%;
  overflow-y: auto;
}
.listCont {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 13px;
  transition: all 0.6s ease-in-out;
}
.card {
  background-color: salmon;
  border-radius: 10px;
  height: 250px;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}
._footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card:nth-child(2) {
  background-color: slateblue;
}
.card:nth-child(3) {
  background-color: coral;
}
.listContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 801px) {
  .container {
  }
  .lgDate {
    display: block;
  }
  .mobileDate {
    display: none;
  }
}
