.cont {
  display: flex;
  gap: 2px;
  animation: rot 1s infinite;
  width: auto;
  align-items: center;
}
.ball {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: green;
  animation: anim 1s infinite;
}
.ball2 {
  animation: col 1s infinite;
  animation-delay: 0.2s;
}
.ball3 {
  animation-delay: 0.7s;
}
@keyframes anim {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(0.4);
    opacity: 0;
  }
}

@-webkit-keyframes anim {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.4);
    opacity: 0;
  }
}

@keyframes col {
  0% {
    opacity: 1;
    transform: scale(0.4);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0.4);
  }
}
