.header {
  display: flex;

  padding: 10px;
  justify-content: space-between;
}
.menu {
  cursor: pointer;
}
.search input {
  padding: 8px;
  border-radius: 50px;
  border: solid 1px #9c9c9c;
  padding-left: 12px;
  font-size: 14px;
  width: 100%;
  background-color: #fcfcfc;
}
.header_group {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 80%;
  justify-content: flex-end;
}
.icon {
  color: rgba(0, 0, 0, 0.61);
}
@media (min-width: 1024px) {
  .header {
    padding: 20px;
  }
  .icon {
    font-size: 23px;
  }
  .header_group {
    gap: 25px;
  }
}
