.loader_container {
  position: fixed;
  background-color: #8800ff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  /* background-color: rgba(0, 0, 0, 0.4); */
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: solid 7px rgba(0, 0, 0, 0.1);
  border-right: solid 10px #bb4079;
  animation: rotate infinite 2s ease-in-out;
}
.loaders {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.ball {
  background-color: #bb4079;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.ball1 {
  animation: anim infinite 0.6s;
}
.ball2 {
  background-color: cadetblue;
  animation: anim infinite 0.6s;
  animation-delay: 0.2s;
}
.ball3 {
  background-color: cornflowerblue;
  animation: anim infinite 0.6s;
  animation-delay: 0.4s;
}
@keyframes anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-left-color: rgb(116, 67, 47);
  }
  20% {
    transform: rotate(360deg);
    border-left-color: goldenrod;
  }
  50% {
    transform: rotate(0deg);
    transition-delay: 0.4s;
    border-left-color: rgb(165, 52, 114);
  }
  70% {
    transform: rotate(-360deg);
    border-left-color: rgb(32, 218, 88);
  }
  100% {
    transform: rotate(0deg);
    border-left-color: rgb(218, 69, 32);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-left-color: rgb(116, 67, 47);
  }
  20% {
    transform: rotate(360deg);
    border-left-color: goldenrod;
  }
  50% {
    transform: rotate(0deg);
    transition-delay: 0.4s;
    border-left-color: rgb(165, 52, 114);
  }
  70% {
    transform: rotate(-360deg);
    border-left-color: rgb(32, 218, 88);
  }
  100% {
    transform: rotate(0deg);
    border-left-color: rgb(218, 69, 32);
  }
}
