.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}
.login_form {
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.signUp {
  color: #6117ff;
  font-weight: 600;
}
.darkContainer {
  background-color: #242526;
  color: #fff;
}
.inputContainer {
  display: flex;
  align-items: center;
  border: solid 1px #c5c5c5;
  margin-bottom: 10px;
  border-radius: 6px;
  transition: all 0.3s;
  background-color: #efefef;
}
.inputContainer:focus-within {
  outline: solid 1px #6117ff;
  background-color: #fff;
}
.inputContainer input {
  border: none;
  background-color: transparent;
  padding: 11px;
  width: 100%;
}
.inputContainer input:focus {
  outline: none;
}
.darkForm {
  background-color: #373737ff;
}
.darkInput {
  background-color: rgb(79, 79, 79);
}
.darkInput:focus-within {
  background-color: rgb(110, 110, 110);
}
.inputContainer input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent;
  color: -internal-light-dark(black, white) !important;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #6117ff;
}
.label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
  /* margin-top: -4px; */
  display: block;
}
@media (min-width: 767px) {
  .login_form {
    max-width: 370px;
  }
}
