.container {
  background-color: #fff;
  /* color: #8800ff; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  font-size: 30px;
}
.backgroundCont {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.653);

  top: 0;
  right: 0;
  left: 0;
}
