.container {
  padding: 10px;
}
.btn_see {
  padding: 8px 10px;
  color: #8800ff;
  border: none;
  border-radius: 50px;
  background-color: #8800ff13;
  font-size: 9px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.btn_see:hover {
  background-color: #8800ff83;
  transition: all 0.3s;
}

.party_container {
  display: grid;
  grid-gap: 30px;
  overflow-x: auto;
  flex-basis: 100%;
  grid-template-columns: repeat(10, 90%);
  padding: 10px;
}
.darkParty {
  background-color: #373737ff !important;
}
.party {
  display: flex;
  flex-direction: column;
  padding: 13px;
  box-shadow: 0 0 14px rgba(0 0 0 /5%);
  border-radius: 10px;
  width: 100%;
  flex: 1 1 100%;
  cursor: pointer;
}

.location {
  font-size: 12px;
  color: #4e4e4e;
  text-transform: capitalize;
}
.darkLocation {
  color: rgb(238, 238, 238);
}
.lightContainer::-webkit-scrollbar {
  background-color: #fff;
}

.party_container::-webkit-scrollbar-thumb {
  background-color: #8800ff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0 0 0 /17%);
  border: solid 3px #fff;
  background-clip: padding-box;
}
.party_container::-webkit-scrollbar-corner {
  border-radius: 10px;
}
.darkContainer::-webkit-scrollbar {
  background-color: transparent !important;
}

.darkContainer::-webkit-scrollbar-thumb {
  background-color: #8800ff55;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0 0 0 /17%);
  border: solid 6px #242526;
  background-clip: padding-box;
  animation: fade 0.7s;
  transition: 0.4s;
}
.darkContainer::-webkit-scrollbar-corner {
  border-radius: 10px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-color: #8800ff15;
  }
}
.people_number {
  color: rgba(0, 0, 0, 0.582);
  font-weight: 400;
  font-size: 12px;
}
.darkPeopleNumber {
  color: #efefef;
}
.partyList {
  padding: 3px;

  border-radius: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;

  width: 100%;
  font-weight: 590;
}
.partyName {
  font-weight: 600;
  text-transform: capitalize;
}
.party_list_icon {
  font-size: 13px;
  color: #8800ffcb;
  background-color: #efefef;
  border-radius: 10px;
  padding: 5px;
}
.icon1 {
  color: #1e90ff;
  background-color: #1e90ff15;
}
.icon2 {
  color: #76ba1b;
  background-color: #76ba1b15;
}
.icon3 {
  color: #ff6d6d;
  background-color: #ff424215;
}
.cover_img {
  width: 100%;
  margin-top: 13px;
}
.cover_img img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0 0 0 /5%);
}
.address {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 320px) {
  .address {
    font-size: 11px;
  }
  .cover_img img {
    height: 160px;
  }
}
@media (min-width: 600px) {
  .party_container {
    grid-template-columns: repeat(10, 45.3%);
    overflow: hidden;
  }
  .party_container:hover {
    overflow-x: scroll;
  }
}
@media (max-width: 600px) and (min-width: 411px) {
  .cover_img img {
    height: 230px;
  }
}
@media (min-width: 801px) {
  .party_list_icon {
    font-size: 20px;
  }
  .expand_panel {
    grid-template-columns: repeat(10, 70%);
  }
  .cover_img img {
    height: 250px;
  }
}

@media (min-width: 901px) {
  .party_container {
    grid-template-columns: repeat(10, 50%);
  }
  .expand_panel {
    grid-template-columns: repeat(10, 60%);
  }
  .cover_img img {
    height: 262px;
  }
}

@media (min-width: 1065px) {
  .party_container {
    grid-template-columns: repeat(10, 40%);
  }
  .expand_panel {
    grid-template-columns: repeat(10, 50%);
  }

  .cover_img img {
    height: 270px;
  }
}
@media (min-width: 1276px) {
  .party_container {
    grid-template-columns: repeat(10, 38%);
  }
  .expand_panel {
    grid-template-columns: repeat(10, 45%);
  }
}
@media (min-width: 1376px) {
  .party_container {
    grid-template-columns: repeat(10, 34%);
  }
  .expand_panel {
    grid-template-columns: repeat(10, 40%);
  }
  .cover_img img {
    height: 276px;
  }
}
@media (min-width: 1576px) {
  .party_container {
    grid-template-columns: repeat(10, 30%);
  }
  .expand_panel {
    grid-template-columns: repeat(10, 35%);
  }
  .cover_img img {
    height: 280px;
  }
}
