.container {
  padding: 10px;
}
.btn_see {
  padding: 8px 10px;
  color: #8800ff;
  border: none;
  border-radius: 50px;
  background-color: #8800ff13;
  font-size: 9px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.btn_see:hover {
  background-color: #8800ff83;
  transition: all 0.3s;
}
.party_container {
  display: grid;
  grid-gap: 30px;
  overflow-x: auto;
  flex-basis: 100%;
  grid-template-columns: repeat(10, 90%);
}

.party {
  display: flex;
  flex-direction: column;
  padding: 13px;
  border: solid 1px #efefef;
  border-radius: 10px;
  width: 100%;
  flex: 1 1 100%;
  cursor: pointer;
}

.party_container::-webkit-scrollbar {
  background-color: #fff;
}

.party_container::-webkit-scrollbar-thumb {
  background-color: #8800ff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0 0 0 /17%);
  border: solid 3px #fff;
  background-clip: padding-box;
}
.party_container::-webkit-scrollbar-corner {
  border-radius: 10px;
}
.people_number {
  color: rgba(0, 0, 0, 0.582);
  font-weight: 400;
  font-size: 12px;
}
.partyList {
  padding: 8px;
  background-color: #efefef;
  border-radius: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;

  width: 100%;
  font-weight: 590;
}
.partyName {
  font-weight: 600;
}
.party_list_icon {
  font-size: 20px;
  color: #8800ffcb;
  background-color: #efefef;
  border-radius: 10px;
  padding: 15px;
}
@media (min-width: 600px) {
  .party_container {
    grid-template-columns: repeat(10, 45.3%);
    overflow: hidden;
  }
  .party_container:hover {
    overflow-x: scroll;
  }
}

@media (min-width: 801px) {
  .party_list_icon {
    font-size: 20px;
  }
}
