.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8800ff;
}

.form {
  background-color: #fff;
  padding: 10px;
  width: 380px;
}
.input_group {
  outline: solid 1px #cecece;
  display: flex;
  border-radius: 4px;
  padding-left: 5px;
  align-items: center;
}
.form input {
  border: none;
  font-size: 12px;
  padding: 13px;
  width: 100%;
  outline: none;
}
.form label {
  font-size: 12px;
}
.input_container {
  margin-bottom: 10px;
}
.input_group:focus-within {
  outline: solid 1px #8800ff;
}
@media (max-width: 320px) {
  .form {
    width: 100%;
    margin: 10px;
  }
  .input_group input {
    font-size: 10px;
  }
}
@media (min-width: 767px) {
  .form {
    width: 400px;
  }
}
