.main {
  min-height: 100vh;
}
.dark {
  background-color: #242526 !important;
  color: white !important;
}
@media (min-width: 801px) {
  .main {
    width: 100%;
    overflow-x: hidden;
    margin-left: 300px;
    padding: 15px;
    transition: all 0.2s;
  }
  .shrinkMain {
    margin-left: 100px;
    transition: all 0.2s;
  }
  .container {
    display: flex;
  }
}
