.main {
  min-height: 100vh;
  padding-bottom: 100px;
}
.dark {
  background-color: #242526 !important;
  color: white !important;
  transition: 0.2s;
}
.mobileButtomNav {
  /* width: 100%; */
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: solid 1px #37373750;
}
@media (min-width: 801px) {
  .mobileButtomNav {
    display: none;
  }
  .main {
    width: 100%;
    overflow-x: hidden;
    margin-left: 300px;
    padding: 15px;
    transition: all 0.2s;
  }
  .shrinkMain {
    margin-left: 100px;
    transition: all 0.2s;
  }
  .container {
    display: flex;
  }
}
