.container {
  box-shadow: 0 0 4px rgba(0 0 0 /17%);
  border-radius: 6px;
  width: 100%;
  margin: 4px;
  padding: 15px 25px;
}
.party {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.party:hover {
  background-color: #efefef;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
}

.flex1 {
  /* background-color: red; */
}
