.cover_img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  border: solid 2px #efefef;
}
.partyGroup {
  display: flex;
  flex-direction: column;
}
.party_name {
  font-weight: 600;
}
.menuContainer {
  padding: 10px;
  padding-top: 20px;
}
.menu_header {
  font-weight: 600;
  font-size: 23px;
}
.username {
  font-size: 12px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: rgb(108, 108, 108);
  background-color: #efefef;
  padding: 9px;
  border-radius: 50%;
}
.no_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no_menu img {
  width: 90%;
  height: 300px;
}

@media (min-width: 801px) {
  .menu_header {
    font-size: 23px;
  }
  .no_menu {
    flex-direction: row;
    width: 100%;
  }
  .no_menu img {
    width: 300px;
    height: 250px;
  }
  .icon {
    font-size: 23px;
    padding: 10px;
  }
  .partyGroup {
    flex-direction: row;
  }
  .cover_img {
    width: 50%;
    height: 300px !important;
    border-radius: 10px !important;
  }
}
@media (min-width: 1024px) {
  .no_menu {
    width: 70%;
  }
}
