.note {
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.notification_container {
  padding: 15px;
  display: flex;

  flex-direction: column;
}

.notification {
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 10px;
  padding-right: 0;
  padding-top: 20px;
  transition: 0.5s ease-in-out;
}
.notification:hover {
  background-color: #37373715;
}
.notif_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  background-color: #8800ff12;
  padding: 20px 12px 10px 40px;
  /* padding-left: 40px; */
  min-height: 80vh;
  position: sticky;
  top: 100px;
  font-family: Delius, "cursive";
}
.notif_header {
  font-weight: 600;
  font-size: 20px;
  border-bottom: solid 1px rgba(0, 191, 255, 0.22);
  padding-bottom: 5px;
}

.notif_body {
  font-size: 14px;
  text-decoration: underline;
  line-height: 30px;
  font-weight: 500;
  text-decoration-style: solid;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(0, 191, 255, 0.22);
}
.notif_2:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 2.5%;
  left: 32px;
  height: 95%;
  width: 2px;
  bottom: 2.5%;
  background: #db3f3452;
}
@media (min-width: 1024px) {
  .note_flex {
    display: flex;
    flex-basis: 100%;
  }
  .notification_container {
    width: 65%;
  }
  .opened_notif {
    width: 35%;
    position: sticky;
    top: 80px;
  }
}
