.note {
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.notification {
  cursor: pointer;
}
.notification:hover {
  background-color: #37373715;
}
