@font-face {
  font-family: washeim;
  src: url(washeim/GTWalsheimPro-Regular.ttf) format("truetype"),
    url(washeim/GTWalsheimPro-Regular.woff) format("woff"),
    url(washeim/GTWalsheimPro-Regular.woff2) format("woff2"),
    url(washeim/GTWalsheimPro-Regular.eot);
  font-weight: normal;
}
@font-face {
  font-family: sourceSans;
  src: url(sourceSans/SourceSansPro-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: lato;
  src: url(lato/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body::placeholder {
  font-family: lato !important;
}
input {
  font-family: inherit !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
