@font-face {
  font-family: washeim;
  src: url(washeim/GTWalsheimPro-Regular.ttf) format("truetype"),
    url(washeim/GTWalsheimPro-Regular.woff) format("woff"),
    url(washeim/GTWalsheimPro-Regular.woff2) format("woff2"),
    url(washeim/GTWalsheimPro-Regular.eot);
  font-weight: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: washeim, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
